<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Personel_İs_Takip.Properties.Settings.PersonelTakipConnectionString" connectionString="Data Source=DESKTOP-N1M8HFM;Initial Catalog=PersonelTakip;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
